Repository nvim-neorg/neorg, pull requests merged in 2021-12, with the labels that each got.

#182 add journal module
  docgen/init.lua
  lua/neorg/modules/core/norg/dirman/module.lua
  lua/neorg/modules/core/norg/journal/module.lua
Labels: feature, new modules

#117 TS based concealing
  doc/neorg.norg
  lua/neorg/modules/core/highlights/module.lua
  lua/neorg/modules/core/integrations/treesitter/module.lua
  lua/neorg/modules/core/norg/concealer/module.lua
  lua/neorg/modules/core/norg/concealer/preset_basic.lua
  lua/neorg/modules/core/norg/concealer/preset_diamond.lua
  lua/neorg/modules/core/norg/concealer/preset_varied.lua
  queries/norg/highlights.scm
Labels: feature

#178 Support for new link parsing + syntax
  README.md
  doc/breaking-changes.norg
  doc/neorg.norg
  docs/CONTRIBUTING.md
  docs/EXAMPLE.norg
  docs/NFF-0.1-spec.md
  lua/neorg.lua
  lua/neorg/events.lua
  lua/neorg/external/helpers.lua
  lua/neorg/modules.lua
  lua/neorg/modules/core/defaults/module.lua
  lua/neorg/modules/core/gtd/queries/retrievers.lua
  lua/neorg/modules/core/gtd/ui/displayers.lua
  lua/neorg/modules/core/highlights/module.lua
  lua/neorg/modules/core/integrations/nvim-cmp/module.lua
  lua/neorg/modules/core/integrations/treesitter/module.lua
  lua/neorg/modules/core/keybinds/default_keybinds.lua
  lua/neorg/modules/core/keybinds/module.lua
  lua/neorg/modules/core/neorgcmd/module.lua
  lua/neorg/modules/core/norg/completion/module.lua
  lua/neorg/modules/core/norg/concealer/module.lua
  lua/neorg/modules/core/norg/concealer/preset_basic.lua
  lua/neorg/modules/core/norg/concealer/preset_diamond.lua
  lua/neorg/modules/core/norg/concealer/preset_varied.lua
  lua/neorg/modules/core/norg/dirman/module.lua
  lua/neorg/modules/core/norg/esupports/hop/module.lua
  lua/neorg/modules/core/norg/esupports/metagen/module.lua
  lua/neorg/modules/core/norg/esupports/module.lua
  lua/neorg/modules/core/norg/news/module.lua
  lua/neorg/modules/core/norg/news/news.norg
  lua/neorg/modules/core/norg/qol/todo_items/module.lua
  queries/norg/highlights.scm
  queries/norg/injections.scm
  queries/norg_meta/highlights.scm
  tests/config.lua
Labels: feature

#198 Basic table support
  README.md
  doc/tables.norg
  queries/norg_table/highlights.scm
  queries/norg_table/injections.scm
Labels: feature, ui, parser

#234 Generate gtd completions
  lua/neorg/modules/core/gtd/base/module.lua
  lua/neorg/modules/core/gtd/queries/retrievers.lua
  lua/neorg/modules/core/norg/completion/module.lua
Labels: feature, GTD module

#159 ToC as virtual lines
  docgen/init.lua
  lua/neorg/modules/core/integrations/treesitter/module.lua
  lua/neorg/modules/core/keybinds/default_keybinds.lua
  lua/neorg/modules/core/norg/esupports/hop/module.lua
  lua/neorg/modules/core/norg/esupports/metagen/module.lua
  lua/neorg/modules/core/norg/qol/toc/module.lua
  lua/neorg/modules/core/queries/native/module.lua
  lua/neorg/modules/core/ui/module.lua
Labels: feature, new modules
