Repository nvim-neorg/neorg, pull requests merged in 2022-01, with the labels that each got.

#267 Better Concealing Performance
  lua/neorg/events.lua
  lua/neorg/external/helpers.lua
  lua/neorg/modules/core/norg/concealer/module.lua
  lua/neorg/modules/core/norg/esupports/metagen/module.lua
  lua/neorg/modules/core/norg/news/module.lua
Labels: feature, existing modules

#274 feat: vim.notify in Neorg log
  lua/neorg/external/log.lua
Labels: feature, existing modules

#314 Unprocessed tasks logic
  doc/gtd.norg
  lua/neorg/external/helpers.lua
  lua/neorg/modules/core/gtd/base/module.lua
  lua/neorg/modules/core/gtd/helpers/module.lua
  lua/neorg/modules/core/gtd/queries/retrievers.lua
  lua/neorg/modules/core/gtd/ui/capture_popup.lua
  lua/neorg/modules/core/gtd/ui/displayers.lua
  lua/neorg/modules/core/gtd/ui/helpers.lua
  lua/neorg/modules/core/gtd/ui/module.lua
  lua/neorg/modules/core/gtd/ui/views_popup.lua
  lua/neorg/modules/core/presenter/module.lua
  lua/neorg/modules/core/ui/module.lua
Labels: feature, GTD module

#214 docs(README): update TreeSitter parser installation info
  README.md
Labels: on hold

#308 Better Keybinds
  docgen/init.lua
  lua/neorg/events.lua
  lua/neorg/modules/core/keybinds/keybinds.lua
  lua/neorg/modules/core/keybinds/module.lua
Labels: feature, existing modules

#284 docs: rewrite README.md
  README.md
  lua/neorg/modules/core/norg/news/0.0.10.norg
Labels: documentation
